# ----------------------------------------------------------------
# Byte-compiled / optimized / DLL files

# GIT
.gitignore
.gitmodules
CreateGIT.bat

# Environments
.env
.env/
.env.bak/

.venv
.venv/
.venv.bak/

# Каталоги
EXE
EXE/
LOG
LOG/
WORK
WORK/
out
out/
!DOC
!DOC/
# Файлы
*.exe
*.spec
*.log
GIT_CONFIG

# VS Code
*.code-workspace
.vscode
.vscode/

# PyCharm
.idea
.idea/

__pycache__/

# ----------------------------------------------------------------

PROJECTS_LYR_TOOLS_PY-TOOLS_PY.ffs_batch
PROJECTS_LYR_TOOLS_PY-TOOLS_PY.ffs_gui

PY/LOG
PY/LOG/

# ----------------------------------------------------------------
