# ----------------------------------------------------------------
# Byte-compiled / optimized / DLL files

# GIT
.gitignore
.gitmodules
CreateGIT.bat

# Environments
.env/*
.venv/*

# Каталоги
EXE
EXE/*
LOG
LOG/*
WORK
WORK/*
out
out/*
# Файлы
*.exe
*.spec
*.log
GIT_CONFIG

# VS Code
.vscode/*
*.code-workspace
.venv/

# PyCharm
.idea
.idea/*

__pycache__/

# ----------------------------------------------------------------

PROJECTS_LYR_TOOLS_PY-TOOLS_PY.ffs_batch
PROJECTS_LYR_TOOLS_PY-TOOLS_PY.ffs_gui

PY/LOG
PY/LOG/

# ----------------------------------------------------------------
