{
    "version": 1,
    "disable_existing_loggers": 1,
    "loggers": {
        "root": {
            "handlers": [
                "CONSOLE",
                "FILE_01"
            ],
            "level": "DEBUG",
            "propagate": 1
        },
        "log02": {
            "handlers": [
                "FILE_02"
            ],
            "level": "DEBUG",
            "qualname": "log02",
            "propagate": 0
        }
    },
    "handlers": {
        "CONSOLE": {
            "class": "logging.StreamHandler",
            "level": "DEBUG",
            "formatter": "FORMAT_01",
            "stream": "ext://sys.stdout"
        },
        "FILE_01": {
            "class": "logging.handlers.RotatingFileHandler",
            "level": "INFO",
            "formatter": "FORMAT_01",
            "maxBytes": 10000000,
            "backupCount": 5,
            "filename": "LOG\\LOGGING_CONFIG.log"
        },
        "FILE_02": {
            "class": "logging.handlers.RotatingFileHandler",
            "level": "INFO",
            "formatter": "FORMAT_json",
            "maxBytes": 10000000,
            "backupCount": 5,
            "filename": "LOG\\LOGGING_CONFIG_json.log"
        }
    },
    "formatters": {
        "FORMAT_01": {
            "format": "%(asctime)s [%(name)s] [%(module)-10s] %(levelno)02d %(levelname)-10s %(lineno)03d %(message)s",
            "datefmt": "%d/%m/%Y %H:%M:%S"
        },
        "FORMAT_json": {
            "class": "pythonjsonlogger.jsonlogger.JsonFormatter",
            "format": "%(asctime)s %(name)s %(levelname)s %(message)s",
            "datefmt": "%d/%m/%Y %H:%M:%S"
        }
    }
}
