chardet>=5.2.0
colorama>=0.4.6
fonttools>=4.60.1
lyrpy>=2025.0.8
markdown-it-py>=4.0.0
mdurl>=0.1.2
psutil>=7.1.2
pyaes>=1.6.1
pyasn1>=0.6.1
Pygments>=2.19.2
pyperclip>=1.11.0
Pyrogram>=2.0.106
PySide6>=6.10.1
PySide6_Addons>=6.10.1
PySide6_Essentials>=6.10.1
PySocks>=1.7.1
python-decouple>=3.8
python-json-logger>=4.0.0
PyYAML>=6.0.3
rich>=14.2.0
rsa>=4.9.1
shiboken6>=6.10.1
Telethon>=1.41.2
TgCrypto>=1.2.5
